<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>New Transaction</title>
</head>
<body>
<h2>Transaction</h2>
<p>
    <input type="text" name="amount" id="amount" placeholder="Transaction Amount"><br>
    <select title="selectAccount">
        <option value="cash">Cash</option>
        <option value="savings">Savings</option>
        <option value="other">[acctName]</option>
        <option value="etc">[etc]</option>
    </select>
    <select title="selectTransType">
        <option value="withdrawal">Withdrawal</option>
        <option value="deposit">Deposit</option>
    </select><br>

    <input type="submit" name="submit" onclick="myFunction(accountNum.value, type.value, amount.value)">

</body>
</html>

<script>

    function myFunction(AccountNum, Type, Amount) {
        var accNum = AccountNum;
        var type = Type;
        var amt = Amount;
        alert("Confirm transaction: \n Account number: " + accNum + "\nTransaction Type: " + type + "\nAmount:" + amt);
    }
</script>
